@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

::-webkit-scrollbar
	appearance: none
	width: 7px
	background: #ffffff
	border: 1px solid #ccc
::-webkit-scrollbar-thumb
	appearance: none
	width: 7px
	height: 7px
	background: #bbb	

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $text

// Custom Sass / Remove before use

.container
	max-width: 700px
	padding:
		right: $gutter/2
		left: $gutter/2
	margin:
		left: auto
		right: auto

.img-responsive
	display: block
	max-width: 100%
	height: auto

// .parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
// 	background-image: url(data:image/gifbase64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

// CUSTOM STANDARD

a, a:active, a:focus, a:hover, a:visited
	text-decoration: none

ul
	list-style-type: none
	margin: 0	
	padding: 0

input
	border: none
	outline: none

button, button:active, button:hover, button:focus
	border: none
	background: none
	outline: none

h1, h2, h3, h4, h5, h6, p, label
	margin: 0

// PRELOADER STYLES

.preloader
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: #333
	z-index: 9999
	display: flex
	justify-content: center
	align-items: center
	opacity: 1
	visibility: visible
	transition: .5s
	&.done
		opacity: 0
		visibility: hidden
	.lds-ring
		display: inline-block
		position: relative
		width: 80px
		height: 80px
		& div
			box-sizing: border-box
			display: block
			position: absolute
			width: 64px
			height: 64px
			margin: 8px
			border: 8px solid #99ddff
			border-radius: 50%
			animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
			border-color: #99ddff transparent transparent transparent
			&:nth-child(1)
				animation-delay: -0.45s
			&:nth-child(2)
				animation-delay: -0.3s
			&:nth-child(3)
				animation-delay: -0.15s		

@keyframes lds-ring
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)	

// -----------------------------------------------

#map
	position: fixed
	top: -15px
	left: 0
	right: 0
	bottom: 0
	height: 110vh

.auth
	opacity: 0
	visibility: hidden
	transition: .25s
	&.show-auth
		opacity: 1
		visibility: visible

.auth-overlay
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	background: rgba(#ccc, .7)
	z-index: 900
	

.auth-container
	z-index: 901
	background: #fff
	position: absolute
	top: 50%
	left: 50%
	width: 550px
	transform: translate(-50%,-50%)
	box-shadow: 0 0 10px 1px #aaa
	&-tabs
		display: flex
		span 
			align-items: center
			display: flex
			justify-content: center
			background: #fff
			box-shadow: 0 0 15px 1px #aaa
			color: #777676
			border-radius: 50%
			position: absolute
			top: -80px
			left: 50%
			transform: translateX(-50%)
			width: 40px
			height: 40px
			font-size: 30px
			cursor: pointer
			transition: .2s
			&:hover
				background: #e7e2e2
				color: #555
				
		&__btn
			width: 50%
			padding: 15px 0
			background: #d8d6d6
			transition: .2s
			font-size: 17px
			text-transform: uppercase
			color: #555555
			&:hover
				background: #ccc
			&.active
				background: #fff
				color: #000000
	&-box
		padding-bottom: 30px
		display: none
		&.active
			display: block
		h2
			font-size: 16px
			text-align: center
			color: #333
			font-weight: 400
			margin-top: 15px
			margin-bottom: 25px
		h3
			text-align: center
			font-weight: 400
			font-size: 16px
			color: #999
			margin-bottom: 25px
			margin-top: -15px
		&-inputs
			margin-bottom: 20px		
			&__item
				padding: 10px 20px
				border-top: 1px solid #ccc 
				label
					color: #000
					margin-bottom: 3px
				input
					width: 100%
					border-bottom: 1px solid transparent	
					&:focus
						border-bottom: 1px dashed #ff7d7d	
						background: #f7f7f7
				&:not(:first-of-type)
					margin-top: -1px
					border-bottom: 1px solid #ccc
			&__item_passwords
				display: flex
				div
					width: 50%
					&:last-of-type
						border-left: 1px solid #ccc
						padding-left: 20px
					&:first-of-type
						padding-right: 20px	
		&-controls
			display: flex
			padding: 0 20px	
			align-items: center	
			&__item
				width: 50%
				line-height: 20px
			a
				color: #777
				text-align: center
				transition: .2s
				&:hover
					color: #000000

.btn-green
	background: #4caf50
	transition: .2s
	color: #ffffff
	padding: 10px 15px
	&:hover
		background: lighten(#4caf50, 10%)

.btn-blue
	background: #1d8ecf
	transition: .2s
	color: #ffffff
	padding: 10px 15px
	&:hover
		background: lighten(#1d8ecf, 10%)

.btn-gray
	background: #e4e4e4
	margin-top: 25px
	border-radius: 50px
	padding: 4px 22px	
	transition: .15s
	&:hover
		background: #cfcfcf

.main
	height: 100vh
	overflow: hidden
	&-search
		position: relative
		z-index: 800
		margin-top: 10px
		margin-left: 10px
		width: 341px
		&-container
			display: flex
			position: relative
			&__logo
				width: 50px
				height: 35px
				display: flex
				justify-content: center
				align-items: center
				background: #ddd
				border: $border
				border-radius: 4px 0 0 4px
				margin-right: -1px
				img
					max-width: 25px
					max-height: 25px
			input
				padding: 5px 12px
				border: $border
				font-size: 14px
				width: 260px
			button
				padding: 5px 10px
				font-size: 14px
				border: $border
				transition: .15s
				background: #eeeeee
				border-radius: 0 4px 4px 0
				margin-left: -4px
				&:hover
					background: #ddd
			.main-auth
				position: absolute
				top: 0
				right: -90px
				display: flex
				justify-content: center
				align-items: center
				border-radius: 4px
				background: #ffffff
				font-size: 14px
				height: 35px
				border: $border
				i
					margin-right: 5px
				&:hover
					background: #eeeeee
					border: $border			
	&-search-results
		z-index: 799
		background: #eee
		border: $border
		position: absolute
		top: 34px
		width: 100%
		opacity: 0
		visibility: hidden
		transform: translateY(-20%)
		transition: .25s
		&.active
			opacity: 1
			visibility: visible
			transform: translateY(0)
		&__item
			border-bottom: 1px solid #bbb
			padding: 6px 10px
			display: flex
			align-items: center
			justify-content: space-between
			cursor: pointer
			&:last-of-type
				border: none
			&:hover
				background: #dadada
			&:hover &_type h3
				background: #68df72
			&_name
				h2
					font-size: 14px
				p
					font-size: 13px
			&_type
				h3
					font-size: 12px
					background: #b1ffb8
					padding: 3px 10px
					border-radius: 50px																
	&-panel
		position: absolute
		z-index: 501
		background: #ffffff
		top: 60px
		border-radius: 0 4px 4px 0
		width: 400px
		padding: 20px
		height: 80vh
		transform: translateX(-100%)
		transition: .22s
		overflow: hidden
		.cross
			margin-right: 4px
		&.show-menu
			transform: translateX(0)
		&__search
			margin-top: 35px
			display: flex
			justify-content: space-between
			align-items: center	
			border-bottom: $border
			&:focus-within
				border-bottom: 1px dashed red
			input
				width: 100%
		&-container
			overflow-y: scroll
			height: 87%
			margin-top: 15px	
			&__box
				margin-right: 5px
				&_header
					font-size: 15px
					display: flex
					align-items: center
					padding: 3px 6px
					transition: .1s
					&.show
						background: #eee
					i
						height: 25px
						margin-right: 10px
						font-size: 18px					
						&.active
							transform: rotate(180deg)
							color: #888		
				&-list
					display: none						
					&__item
						display: flex
						align-items: center
						border-bottom: 1px solid #eee
						padding: 7px 10px
						font-size: 15px
						margin: 7px 10px
						cursor: pointer
						transition: .2s
						&:last-of-type
							border: none
						&:hover
							background: #e4e4e4	
						img
							width: 22px	
							height: 22px
							margin-right: 10px	
	
	// &-dop-list
	// 	z-index: 500 
	// 	position: absolute
	// 	background: #fff
	// 	top: 60px
	// 	height: 773px
	// 	width: 350px
	// 	left: 410px
	// 	border-radius: 4px
	// 	padding: 10px
	// 	opacity: 0
	// 	visibility: hidden
	// 	transform: translateX(-100%)
	// 	transition: .25s
	// 	&__items
	// 		padding: 20px			
	// 		li 
	// 			padding: 10px
	// 			border-bottom: 1px solid #ccc	
	// 			display: flex
	// 			align-items: center
	// 			justify-content: space-between
	// 			cursor: pointer
	// 			transition: .2s
	// 			&:hover
	// 				background: #ddd			
	// 	&.show
	// 		opacity: 1
	// 		visibility: visible
	// 		transform: translateX(0)


	&-controls
		z-index: 500
		position: fixed		            
		&__btn
			&:hover
				background: #eee
			&.active-btns
				background: darken(#eee, 3%)
	&-controls--left
		left: 0
		transform: translateY(-50%)
		top: 50%
		button
			width: 35px
			height: 35px
			background: #333
			text-align: center
			border-radius: 0 50px 50px 0
			font-size: 20px 
			i
				transform: translate(-2px,-1px)
				color: #ffffff
			&:hover
				background: #111	 
	&-controls--horizontal
		right: 15px
		top: 10px
		button
			width: 35px
			height: 35px
			background: #ffffff
			border: $border
			margin-right: -5px
			&:first-child
				border-radius: 4px 0 0 4px
			&:last-child
				border-radius: 0 4px 4px 0
				width: 40px
				color: #555
			
	&-controls--vertical
		right: 9px
		top: 168px
		a
			width: 37px
			height: 40px
			background: #ffffff
			border: $border
			margin-bottom: -5px
			display: block
			text-align: center
			line-height: 38px
			cursor: pointer
			color: #333
			&:first-child
				border-radius: 4px 4px 0 0
			&:last-child
				border-radius: 0 0 4px 4px
			img
				width: 16px

	&-filter
		background: #fff
		border-radius: 4px
		padding: 20px
		position: absolute
		z-index: 800
		display: inline-block
		right: 53px
		top: 96px
		text-align: center
		transform: translateX(70%)
		opacity: 0
		visibility: hidden
		transition: .25s
		&.show
			transform: translateX(0)
			visibility: visible
			opacity: 1
		h2
			font-size: 18px
			margin-bottom: 12px
			i
				font-size: 15px
		&__cross
			font-size: 30px
			position: relative
			margin-bottom: 35px
			top: -15px
			right: 0
			button
				position: absolute
				top: 0
				right: 0	
		&__search
			border-bottom: $border
			margin-bottom: 20px
			input 
				font-size: 14px		
		&__input
			border: $border
			&:last-of-type
				margin-top: 7px
			input
				padding: 5px			
    
	&-feedback__overlay
		position: absolute
		z-index: 800
		top: 0
		right: 0 
		left: 0 
		bottom: 0 
		height: 100vh
		background: rgba(0,0 ,0 ,0.5 )
		visibility: hidden
		opacity: 0
		transition: .25s
		&.show-popup		
			opacity: 1
			visibility: visible
	&-feedback
		background: #fff
		position: relative
		z-index: 801
		width: 390px
		height: 685px
		border-radius: 4px
		text-align: center
		left: 50% 
		transform: translateX(-50%)
		opacity: 0
		transition: .25s
		padding-top: 5px
		visibility: hidden
		&.show-popup
			opacity: 1
			visibility: visible
		&__input
			display: flex
			justify-content: center				
			input 
				display: block
				border-radius: 4px
				border: $border
				padding: 5px 12px
				width: 290px
				margin-bottom: 20px
			textarea
				border-radius: 4px
				width: 290px
				height: 90px
				padding: 5px 12px
				resize: none

	&-satellite
		position: absolute
		z-index: 799
		background: #fff
		border-radius: 4px
		text-align: center
		top: 50px
		right: 52px
		width: 250px
		visibility: hidden
		opacity: 0
		padding: 20px 
		transition: .25s
		transform: translateY(-150%)	
		&.show
			transform: translateY(0)
			opacity: 1
			visibility: visible
		&-list
			&__item
				display: flex
				align-items: center
				padding: 7px 10px
				transition: .2s
				cursor: pointer
				&:hover
					background: #eee
				&.active
					background: darken(#eee, 2%)
				&:not(:last-of-type)
					margin-bottom: 10px
				img
					width: 30px
					margin-right: 15px
				i
					font-size: 35px
					margin-right: 15px
					width: 30px		

	&-signs
		position: absolute
		z-index: 799
		background: #fff
		top: 50px
		right: 52px
		width: 300px
		padding: 20px
		border-radius: 4px
		visibility: hidden
		opacity: 0
		transition: .25s
		transform: translateY(-150%)
		&.show
			transform: translateY(0)
			opacity: 1
			visibility: visible
		&-list 
			&__item
				border-bottom: 1px solid #ddd
				padding: 7px 0
				display: flex
				align-items: center
				&:last-of-type
					border: none
				span
					width: 23px
					height: 23px
					margin-right: 10px			
				&_buildings
					background: #db999a
					box-shadow: inset 1px 1px 1px 1px #b57777	
				&_process-buildings
					background: #a67475
					border: 2px solid #f8efba
				&_broken-buildings
					border: 2px dashed #f1c76b
				&_streets
					position: relative
					span			
						width: 3px
						height: 100%
						background: #aaa
						position: absolute
						top: 50%
						margin-top: -50%
						left: 50%	
						margin-left: -1.5px
						transform: rotate(45deg)
				&_roads
					background: #bbb
				&_rails
					position: relative
					span			
						width: 5px
						height: 100%
						background: #ffffff
						border: 1px solid #000
						position: absolute
						top: 50%
						margin-top: -50%
						left: 50%	
						margin-left: -2.5px
						transform: rotate(45deg)
						overflow: hidden
						div
							margin-left: -1px
							border: 4px dotted #444
							height: 100%
				&_water
					background: #7fe0fe
					box-shadow: inset 1px 1px 1px 1px #2fa8d2
				&_parks
					background: #9cde7a
					position: relative
					span
						position: absolute
						width: 7px
						height: 7px
						top: 50%
						margin-top: -3.5px
						left: 50%
						margin-left: -3.5px
						border: 2px solid #4a8f2d
						border-radius: 50%
				&_villages
					border: 2px dashed #d48e98
				&_dachas
					background: #d2ffbe
					box-shadow: inset 1px 1px 1px 1px #5caf3b			

	&-obj
		position: absolute 
		z-index: 799
		right: 52px
		background: #fff 
		padding: 20px
		width: 400px
		border-radius: 4px
		bottom: 20px
		font-size: 15px	
		.hdr
			margin-bottom: 0
		&-table
			border-bottom: $border
			td 
				width: 190px
				padding: 10px	
				&:first-child
					color: #000000
					font-weight: 700
					border-right: $border				
	&-controll
		padding: 20px
		display: flex
		justify-content: center
		&__btn
			border-radius: 4px
			padding: 5px 12px
			border: $border !important
			&:not(:last-of-type)
				margin-right: 15px
			img 
				height: 18px
				width: 18px
			&:hover
				background: #eee

	&-layers
		position: absolute
		z-index: 799
		top: 50px
		right: 52px
		width: 380px
		background: #fff 
		padding: 20px
		border-radius: 4px
		visibility: hidden
		max-height: 690px
		overflow-y: scroll
		opacity: 0
		transition: .25s
		transform: translateY(-150%)
		&.show
			transform: translateY(0)
			opacity: 1
			visibility: visible
		&-list
			&-box
				overflow-y: hidden
				&__header
					display: flex
					align-items: center
					&:not(:first-of-type)
						border-top: 1px solid #ccc	
						margin-top: 10px
						padding-top: 10px
					input
						margin-right: 5px
						margin-top: -2px	
				&__range
					display: flex
					align-items: center
					margin-top: 10px
					opacity: .6
					&.active
						opacity: 1
					&_result
						width: 35px
					i 
						margin-left: 10px
					&_slider
						appearance: none
						height: 10px
						background: linear-gradient(90deg,#fff 0%,#ddd 100%)
						border: $border
						margin-right: 20px
						width: 100%
						&::-webkit-slider-thumb
							appearance: none
							height: 18px
							width: 18px
							border-radius: 4px
							border: $border
							background: #f6f6f6	
			&__item
				padding: 5px
				border-bottom: $border
				display: flex !important
				align-items: center
				input
					margin-right: 10px
				&_arrow
					padding: 5px
					font-size: 17px
					transform: rotate(0deg)
					transition: .25s
					margin-left: auto
					&.active
						transform: rotate(180deg)

	&-languages
		position: absolute
		z-index: 795
		width: 250px
		background: #fff
		top: 50px
		right: 52px
		border-radius: 4px
		padding: 20px
		visibility: hidden
		opacity: 0
		transition: .25s
		transform: translateY(-150%)
		&.show
			transform: translateY(0)
			opacity: 1
			visibility: visible
		&-list 
			&__item
				display: flex
				align-items: center
				padding: 7px 10px
				transition: .2s
				cursor: pointer
				&:hover
					background: #eee
				&.active
					background: darken(#eee, 2%)
				&:not(:last-of-type)
					margin-bottom: 10px
				img
					width: 30px
					margin-right: 15px
				
.ui-accordion-header
	&-icon
		display: none

.ui-state-active
	border: $border
	background: #555

.cross
	position: absolute
	top: -5px
	right: 10px
	font-size: 30px

.hdr
	text-align: center
	margin-top: 10px
	font-size: 17px
	margin-bottom: 20px
	border-bottom: $border
	padding: 10px 0	

#close_message-map
	margin-top: 5px
	margin-right: 10px
	
.leaflet-top, .leaflet-left
	margin-right: 15px
	width: 35px
	display: flex
	justify-content: center

.leaflet-control-zoom 
	a
		display: flex
		justify-content: center
		align-items: center
		font-size: 22px
		line-height: 20px

.reset-zoom
	cursor: pointer
	font-size: 16px !important
	padding-left: 1px

.leaflet-right
	top: 49%

.leaflet-control-attribution
	display: none	

.leaflet-bar
	a
		width: 35px
		height: 35px
		&:hover
			width: 35px
			height: 35px
			line-height: 35px	
		&:last-child:hover
			line-height: 36px
				
// Всегда внизу 
@import media