@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $text

// Custom Sass / Remove before use

.container
	max-width: 700px
	padding:
		right: $gutter/2
		left: $gutter/2
	margin:
		left: auto
		right: auto

.img-responsive
	display: block
	max-width: 100%
	height: auto

// .parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
// 	background-image: url(data:image/gifbase64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

// CUSTOM STANDARD

a, a:active, a:focus, a:hover, a:visited
	color: #fff
	text-decoration: none

ul
	list-style-type: none
	margin: 0	
	padding: 0

input
	border: none

button, button:active, button:hover
	border: none
	background: none
	outline: none

// PRELOADER STYLES

.preloader
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: #333
	z-index: 9999
	display: flex
	justify-content: center
	align-items: center
	opacity: 1
	visibility: visible
	transition: .5s
	&.done
		opacity: 0
		visibility: hidden
	.lds-ring
		display: inline-block
		position: relative
		width: 80px
		height: 80px
		& div
			box-sizing: border-box
			display: block
			position: absolute
			width: 64px
			height: 64px
			margin: 8px
			border: 8px solid #99ddff
			border-radius: 50%
			animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
			border-color: #99ddff transparent transparent transparent
			&:nth-child(1)
				animation-delay: -0.45s
			&:nth-child(2)
				animation-delay: -0.3s
			&:nth-child(3)
				animation-delay: -0.15s		

@keyframes lds-ring
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)	

// -----------------------------------------------

#map
	position: fixed
	top: -15px
	left: 0
	right: 0
	bottom: 0
	height: 110vh

.main
	&-search
		position: relative
		display: flex
		z-index: 800
		margin-top: 10px
		margin-left: 10px
		width: 300px
		&__logo
			width: 50px
			height: 35px
			display: flex
			justify-content: center
			align-items: center
			background: #ddd
			border: $border
			border-radius: 4px 0 0 4px
			margin-right: -1px
			img
				max-width: 25px
				max-height: 25px
		input
			padding: 5px 12px
			border: $border
			font-size: 14px
			width: 260px
		button
			padding: 5px 10px
			font-size: 14px
			border: $border
			transition: .15s
			background: #eeeeee
			border-radius: 0 4px 4px 0
			margin-left: -4px
			&:hover
				background: #ddd	

	&-controls
		z-index: 800
		position: absolute
		a, button
			&:hover
				background: #eee		
	&-controls--horizontal
		right: 15px
		top: 10px
		button
			width: 35px
			height: 35px
			background: #ffffff
			border: $border
			margin-right: -5px
			&:first-child
				border-radius: 4px 0 0 4px
			&:last-child
				border-radius: 0 4px 4px 0
				width: 40px
				color: #555
	&-controls--vertical
		right: 9px
		top: 168px
		a
			width: 37px
			height: 40px
			background: #ffffff
			border: $border
			margin-bottom: -5px
			display: block
			text-align: center
			line-height: 38px
			cursor: pointer
			color: #333
			&:first-child
				border-radius: 4px 4px 0 0
			&:last-child
				border-radius: 0 0 4px 4px
			img
				width: 14px
				margin-left: 1px

	&-filter
		background: #fff
		border-radius: 4px
		padding: 20px
		position: absolute
		z-index: 800
		display: inline-block
		right: 53px
		top: 96px
		text-align: center
		transform: translateX(200%)
		opacity: 0
		visibility: hidden
		transition: .25s
		&.show
			transform: translateX(0)
			visibility: visible
			opacity: 1
		h2
			font-size: 18px
			margin-bottom: 12px
			i
				font-size: 15px
		&__cross
			font-size: 30px
			position: relative
			margin-bottom: 35px
			top: -15px
			right: -8px
			button
				position: absolute
				top: 0
				right: 0	
		&__search
			border-bottom: $border
			margin-bottom: 20px
			input 
				font-size: 14px		
		&__input
			border: $border
			&:last-of-type
				margin-top: 7px
			input
				padding: 5px
		&__btn
			background: #eee
			margin-top: 25px
			border-radius: 50px
			padding: 5px 22px	
			transition: .15s
			&:hover
				background: #ddd	
			
	&-feedback
		background: #fff
		position: relative
		z-index: 800
		width: 390px
		height: 650px
		border-radius: 4px
		text-align: center
		left: 50%
		transform: translateX(-50%)
		&__input
			display: flex
			justify-content: center				
			input 
				display: block
				border-radius: 4px
				border: $border
				padding: 5px 12px
				width: 290px
				margin-bottom: 20px
			textarea
				border-radius: 4px
				width: 290px
				height: 90px
				padding: 5px 12px
				resize: none
		h2 
			font-size: 17px
			margin-bottom: 20px
			border-bottom: $border
			padding: 10px 0




	
.leaflet-top, .leaflet-left
	margin-right: 15px
	width: 35px
	display: flex
	justify-content: center

.leaflet-control-zoom 
	a
		display: flex
		justify-content: center
		align-items: center
		font-size: 20px
		line-height: 20px

.reset-zoom
	cursor: pointer
	font-size: 13px !important
	padding-left: 1px

.leaflet-right
	display: none	

.leaflet-bar
	a
		width: 35px
		height: 35px
		&:hover
			width: 35px
			height: 35px
			line-height: 35px	
		&:last-child:hover
			line-height: 36px
				
